<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WST</title>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_fa("fontawesome.css") }}">
    <link rel="stylesheet" href="{{ asset_fa("solid.css") }}">
    <link rel="stylesheet" href="{{ asset_css("main.css") }}">
    <link rel="stylesheet" href="{{ asset_css("menu.css") }}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset_js("jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset_js("jquery-ui.js") }}"></script>
    <script type="text/javascript" src="{{ asset_js("jquery.maskedinput.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset_js("main.js") }}"></script>
{% endblock %}

</head>
<body>
{% block body %}
    <div class="container">
        <div class="left-side"></div>
        <div class="main-content">
            <div class="container-logo">
                <div class="col-2"></div>
                <div class="logo col-8">{{ include('logo/index.twig') }}</div>
                <div class="col-2"></div>
            </div>
            <div class="container-menu">
                <div class="col-2"></div>
                <div class="menu col-8">{{ include('menu/index.twig') }}</div>
                <div class="col-2"></div>
            </div>
            <div class="container-content">
                <div class="col-2"></div>
                <div class="content col-8"><div id="test">TEST</div>{% block content %}{% endblock %}</div>
                <div class="col-2"></div>
            </div>
            <div class="container-footer">{{ include('footer/index.twig') }}</div>
        </div>
        <div class="right-side"></div>
    </div>
{% endblock %}
</body>
</html>
